.AwardSection{
    padding: 100px 0 100px;
    background-color: #fff5e4;
}
.AwardBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.AwardFlex{
    justify-content: space-between;
    align-items: center;
}
.AwardIcon{
    font-size: 60px;
    color: #222132;
}
.count{
color: var(--Theme-Colors-Danger, #F95C19);
font-variant-numeric: lining-nums proportional-nums;
font-size: 35px;
font-weight: 800;
line-height:  43px
}
.AwardDescription{
    color: var(--Gray-800, #464558);
font-size: 18px;
font-weight: 700;
line-height:  24px 
}